{% extends "simple-panel.html" %}

{% load bootstrap3 %}

{% block panel_class %}login-panel{% endblock %}

{% block panel_body %}
    <form action="" method="post" class="form content">
        {% csrf_token %}
        <h1>{{ site.name }}</h1>
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

        {% bootstrap_form form layout='inline' %}

        <button class="btn btn-primary" type="submit">Reset</button>
        <a href="{% url "login" %}" class="btn btn-link">Login instead?</a>
    </form>
{% endblock %}
