{% extends "education/course_detail_base.html" %}

{% block panel_content %}
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for session in object_list.all %}
                <tr>
                    <td>{{ session.start|date }}</td>
                    <td>{{ session.start|time }} — {{ session.end|time }}</td>
                    <td>
                        {{ session.actual_location }}
                        {% if session.location %}
                            <span class="label label-info">Custom</span>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-default btn-xs" href="{% url "education:courses:sessions:edit" course_pk=course.pk session_pk=session.pk %}">Edit</a>
                        <a class="btn btn-danger btn-xs" href="{% url "education:courses:sessions:delete" course_pk=course.pk session_pk=session.pk %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="panel-footer">
        <a class="btn btn-default" href="{% url "education:courses:sessions:add" course_pk=course.pk %}">Add session</a>
    </div>
{% endblock %}
