{% extends "base_root.html" %}
{% load i18n staticfiles menu %}

{% block body_class %}tpl-base{% endblock %}

{% block extend_root %}
    {% block header %}
        <header class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <!--h1 class="navbar-brand"-->
                    <a class="navbar-brand" href="/">
                        <span class="sr-only">{{ request.site.name }}</span>
                        <img src="{% static "images/logo/logo.color.icon.svg" %}" alt="{{ request.site.name }}" />
                    </a>
                <!--/h1-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".js-navbar-header">
                    {% for row in 123|make_list %}<span class="icon-bar"></span>{% endfor %}
                </button>
            </div>

            <h2 class="sr-only">{% trans "Shortcuts" %}</h2>
            <ul class="skip-links">
                <li><a href="/" title="[Alt + 0]" accesskey="0">{% trans "Go to home" %}</a></li>
                <li><a href="#page-navigation" title="[Alt + 1]" accesskey="1">{% trans "Jump to navigation" %}</a></li>
                <li><a href="#page-content" title="[Alt + 2]" accesskey="2">{% trans "Jump to content" %}</a></li>
                <li><a href="#page-footer" title="[Alt + 3]" accesskey="3">{% trans "Contact" %}</a></li>
            </ul>

            <div class="navbar-collapse collapse" id="main-navbar">
                {% block navbar %}
                    <ul class="nav navbar-nav navbar-left">
                        {% children main_menu %}
                    </ul>
                {% endblock navbar %}
            </div>
        </header>
    {% endblock header %}

    {% block sidebar_container %}
        <aside class="sidebar">
            {% block sidebar %}
                <ul class="nav">
                    {% children sidebar_menu %}
                </ul>
            {% endblock %}
        </aside>
    {% endblock %}

    <div class="container-fluid storm-content">
        {#% include "_messages.html" %#}

        <hr class="sr-only" id="page-content" />
        {% block content %}{% endblock %}

        <hr class="sr-only" />
        <footer class="footer" role="contentinfo">
            <ul class="linklist">
                <li>STORM {{ version }} ({{ commit }})</li>
                {#<li><a href="{{ url_for('docs_index') }}">Documentation</a></li>#}
                {#<li><a href="{{ url_for('feedback', next=request.url) }}" class="overlay-form">Feedback</a></li>#}
            </ul>
            <p>Rendered in __EXECUTION_TIME__</p>
            <p>Copyright &copy; {% now "Y" %} Jonathan Stoppani.</p>
        </footer>
    </div>
    {% comment %}
    {% block breadcrumb %}
        {% if not request.current_page.is_home %}
            <nav class="navbar navbar-breadcrumb" role="navigation">
                <h3 class="sr-only">{% trans "You are here" %}</h3>
                <div class="container">
                    <ol class="breadcrumb">
                        {% block extend_breadcrumb %}
                        {% endblock extend_breadcrumb %}
                    </ol>
                </div>
            </nav>
        {% endif %}
    {% endblock breadcrumb %}
    {% endcomment %}
{% endblock extend_root %}
