{% load bootstrap3 %}

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form action="" method="post" class="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% block modal_title %}{% endblock %}</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {% block modal_body %}
                        {% bootstrap_form form %}
                    {% endblock %}
                </div>
                <div class="modal-footer">
                    {% block modal_footer %}
                        <button class="btn btn-primary" type="submit">{% if object %}{% trans "Save" %}{% else %}{% trans "Create" %}{% endif %}</button>
                    {% endblock %}
                </div>
            </div>
        </form>
    </div>
</div>

