{% extends "base.html" %}

{% block content %}
    <header class="default-header">
        <h2>Contacts</h2>
        <div class="actions">
            <a class="btn btn-default" href="{% url "membership:contacts:add" %}">Add contact</a>
        </div>
    </header>

    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for contact in object_list %}
                    <tr>
                        <td>{{ contact.first_name }}</td>
                        <td>{{ contact.last_name }}</td>
                        <td>
                            <a class="btn btn-default btn-xs" href="{% url "membership:contacts:edit" pk=contact.pk %}">Edit</a>
                            <a class="btn btn-danger btn-xs" href="{% url "membership:contacts:delete" pk=contact.pk %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
