{% extends "modal_form.html" %}

{% load bootstrap3 %}

{% block modal_title %}
    {% if object %}Edit membership period{% else %}Add membership period{% endif %}
{% endblock %}

{% block modal_body %}
    {% bootstrap_field form.name %}
    <div class="row">
        {% bootstrap_field form.start addon_before='<span class="fa fa-calendar"></span>' form_group_class='form-group col-md-12' field_class='date datepicker' %}
        {% bootstrap_field form.end addon_before='<span class="fa fa-calendar"></span>' form_group_class='form-group col-md-12' field_class='date datepicker' %}
    </div>
{% endblock %}

{% block modal_footer %}
    <button class="btn btn-primary" type="submit">{% if object %}Save{% else %}Create{% endif %}</button>
{% endblock %}
