{% extends "base.html" %}

{% load chrome %}

{% block content %}
    <header class="default-header">
        <h2>{% trans "Membership structure" %}</h2>
        <div class="actions">
            <a class="btn btn-default" href="{% url "membership:types:add" %}" rel="modal">{% trans "Add membership type" context "link" %}</a>
        </div>
    </header>

    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Label" context "membership type" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for type in object_list %}
                    <tr>
                        <td>{{ type.name }}</td>
                        <td class="btn-cell text-right">
                            <div class="btn-group">
                                {% cell_button _("Edit") icon="pencil" modal=True url "membership:types:edit" pk=type.pk %}
                                {% cell_button _("Delete") icon="trash" modal=True url "membership:types:delete" pk=type.pk %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
