{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}
    <header class="default-header">
        <h2>{% if object %}Edit membership period{% else %}Add membership period{% endif %}</h2>
    </header>

    <div class="panel panel-default">
        <div class="panel-body">
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_field form.name %}
                <div class="row">
                    {% bootstrap_field form.start addon_before='<span class="fa fa-calendar"></span>' form_group_class='form-group col-md-12' field_class='date datepicker' %}
                    {% bootstrap_field form.end addon_before='<span class="fa fa-calendar"></span>' form_group_class='form-group col-md-12' field_class='date datepicker' %}
                </div>
                <button class="btn btn-primary" type="submit">{% if object %}Save{% else %}Create{% endif %}</button>
            </form>
        </div>
    </div>
{% endblock %}
