{% extends "base.html" %}

{% load chrome %}

{% block content %}
    <header class="default-header">
        <h2>{% trans "Membership periods" %}</h2>
        <div class="actions">
            <a class="btn btn-default" href="{% url "membership:periods:add" %}" rel="modal">{% trans "Add period" context "link" %}</a>
        </div>
    </header>

    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Label" context "membership period" %}</th>
                    <th>{% trans "Period" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for period in object_list %}
                    <tr>
                        <td>
                            <a href="{% url "membership:periods:overview" period_pk=period.pk %}">{{ period.name }}</a></td>
                        <td>{{ period.start }} – {{ period.end }}</td>
                        <td class="btn-cell text-right">
                            <div class="btn-group">
                                {% cell_button _("Edit") icon="pencil" modal=True url "membership:periods:edit" period_pk=period.pk %}
                                {% cell_button _("Delete") icon="trash" modal=True url "membership:periods:delete" period_pk=period.pk %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
