{% extends "membership/membershipperiod_detail_base.html" %}

{% block panel_content %}
    <table class="table">
        <thead>
            <tr>
                <th>Member</th>
                <th>Membership type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for membership in object_list.all %}
                <tr>
                    <td>{{ membership.contact }}</td>
                    <td>{{ membership.membership.type }}</td>
                    <td>
                        <a class="btn btn-default btn-xs" href="{% url "membership:periods:structure:edit" period_pk=period.pk type_pk=membership.pk %}" rel="modal">Edit</a>
                        <a class="btn btn-danger btn-xs" href="{% url "membership:periods:structure:delete" period_pk=period.pk type_pk=membership.pk %}" rel="modal">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="panel-footer">
        <a class="btn btn-default" href="{% url "membership:periods:structure:add" period_pk=period.pk %}" rel="modal">Add member</a>
    </div>
{% endblock %}
